* {
    margin: 0;
    padding: 0;
    /*box-sizing: border-box;*/

}

body {
    background-color: lightgray;
}

button {
    border: none;
    outline: none;
    background-color: #6c5ce7;
    padding: 10px 20px;
    font-size: 12px;
    font-weight: 700;
    color: darkslategrey;
    border-radius: 5px;
    transition: all ease 0.1s;
    box-shadow: 0px 5px 0px 0px #a29bfe;
}

button:active {
    transform: translateY(5px);
    box-shadow: 0px 0px 0px 0px #a29bfe;
}

.homePageBody {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #03e5b7;
    background-image: linear-gradient(177deg, #ADD8E6 0%, #90EE90 74%);
}

.calendarContainer {
    margin: auto;
    width: 770px;
    background-color: #fff;
}

.header {
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.header #month {
    color: #ff5252;
    font-size: 30px;
    font-weight: 600;
}

/*button {*/
/*    width: 75px;*/
/*    cursor: pointer;*/
/*    border: none;*/
/*    outline: none;*/
/*    padding: 5px;*/
/*    border-radius: 3px;*/
/*    color: white;*/
/*}*/



.header button {
    background-color: #ff5252;
}
.weekdays {
    width: 100%;
    display: flex;
    background-color: #2f3640;
    font-size: 17px;
    color: #fff;
    font-weight: 500;
}

.weekdays div {
    width: 100px;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
}

#calendar {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.day {
    width: 100px;
    min-height: 100px;
    height: fit-content;
    padding: 10px;
    cursor: pointer;
    margin: 5px;
    box-sizing: border-box;
    box-shadow: 0px 0px 3px #cbd4c2;
    color: #7f8fa6;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.day:hover {
    background-color: rgba(112, 111, 211, 0.1);
    color: #706fd3;
}

#currentDay {
    background-color: #706fd3;
    color: #fff;
}

.event {
    font-size: 12px;
    padding: 3px;
    background-color: #3d3d3d;
    color: #fff;
    border-radius: 5px;
    max-height: 55px;
    overflow: hidden;
}

.event-HotDocs {
    font-size: 12px;
    padding: 3px;
    background-color: #aebb00;
    color: #fff;
    border-radius: 5px;
    max-height: 55px;
    overflow: hidden;
}

.event-TIFF {
    font-size: 12px;
    padding: 3px;
    background-color: #DDD618;
    color: #000000;
    border-radius: 5px;
    max-height: 55px;
    overflow: hidden;
}

.event-Revue {
    font-size: 12px;
    padding: 3px;
    background-color: #000000;
    color: #fff;
    border-radius: 5px;
    max-height: 55px;
    overflow: hidden;
}

.event-Paradise {
    font-size: 12px;
    padding: 3px;
    background-color: #0069aa;
    color: #fff;
    border-radius: 5px;
    max-height: 55px;
    overflow: hidden;
}

.event-Carlton {
    font-size: 12px;
    padding: 3px;
    background-color: #880808;
    color: #fff;
    border-radius: 5px;
    max-height: 55px;
    overflow: hidden;
}

.event-Front {
    font-size: 12px;
    padding: 3px;
    background-color: #FF69B4;
    color: #000000;
    border-radius: 5px;
    max-height: 55px;
    overflow: hidden;
}

.event.holiday {
    background-color: palegreen;
    color: #3d3d3d;
}

.plain {
    cursor: default;
    box-shadow: none;
}

#modal {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.8);
}

#addEvent,
#viewEvent {
    display: none;
    width: 350px;
    background-color: #fff;
    padding: 25px;
    position: absolute;
    z-index: 20;
}

#addEvent h2,
#viewEvent h2 {
    font-weight: 500;
    margin-bottom: 10px;
}

#txtTitle {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 25px;
    border-radius: 3px;
    outline: none;
    border: 1px solid #cbd4c2;
    font-size: 16px;
}

#btnSave {
    background-color: #2ed573;
}

.btnClose {
    background-color: #2f3542;
}

#viewEvent p {
    margin-bottom: 20px;
}

#btnDelete {
    background-color: #ea2027;
}

.error {
    border-color: #ea2027 !important;
}

/* The sidebar menu */
.sidebar {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
    color: #FF69B4;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* The button used to open the sidebar */
.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover {
    background-color: #444;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s; /* If you want a transition effect */
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
}

.sideBarItem {
    color: white;
    text-decoration-thickness: 20px;
    white-space: nowrap;
    text-overflow: clip;
    float: left;
}

.marginParagraphAbout {
    float: left;
    padding: 20px;

    background: url("../public/bendotplace.png");
    background-repeat:no-repeat;
    background-position: center center;
    width: 100%;
    height: 100%;
}

.homePageName {
    float: left;
    padding: 45px;
}

.homePageHeader {
        /*height:100vh;*/
        width:50vw;

}



.mainPostPage {
    background-color: lightgray;
    text-align: center;
    margin: 0;
}

.content {
    height: 100vh;
    width: 100vw;
    background-color: lightgray;

}

.nav {
    height: 70px;
    background-color: #333333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    padding: 1rem;
}

.site-title {
    font-size: 2rem;
}

.nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav a {
    height: 100%;
    display: flex;
    align-items: center;
    padding: .35rem;
}

.loginButton {
    padding: 5px;
    align-items: flex-end;
    display: flex;
    flex-wrap: wrap;
    width: 35%;
}

nav li.active {
    background-color: #555;
}

.nav li:hover {
    background-color: white;
    width: 200%;
    border-radius: 60%;
    box-shadow: 0 0 9px 4px white;
    animation: glow 2s linear infinite;
    /*width: 100%;*/
}

.submissionForm {
    margin: auto;
    display: none;
}

textarea {
    border-color: black;
    border-width: 5px;
    background-color: lightgrey;
}

input[type=text] {
    border-color: black;
    border-width: 5px;
    background-color: lightgrey;
}

input[type=text]:focus {
    border-color: lightblue;
    outline: 2px solid lightskyblue; /* oranges! yey */
}

.mainTextSubmit {
    margin: auto;
    padding: 5px;
    width: 300px;
    height: 200px;

}

.navIcon {
    margin: -15px;
    height: 70px;

}

a {
    color: black
}

a:link {
    text-decoration: none
}

.theEntirePost {

    float: left;
    display: flex;
    overflow: hidden;
    flex-direction: column;
}


.postHolder {
    max-width: inherit;
    float: left;

    border-style: groove;
    background-color: lightblue;
    margin-bottom: 10px;
    width: fit-content;
    min-width: 30%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-height: 400px;
    min-height: 100px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-right: 20px;


}

.postContent {
    max-width: 500px;
    display: flex;
    flex-direction: row;
}
.postBody {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}


.postHeader {
    display: flex;
    background-color: darkgrey;
    margin: auto;
}

.postFooter {
    width: 100%;
    display: flex;
    margin: auto;
}

.replies {

    margin-left: auto;
}

.replyNow {
    margin-left: 50px;
}

.trashHolder {

    margin-left: auto;

}

.postHolder:hover {
    background-color: lightslategrey;
    color: white;
    box-shadow: 10px 5px 5px darkslategrey;
}

/* Add some padding inside the card container */
.postTopic {

    display: flex;
    flex-direction: column;
    float: left;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 16px;
}

.postText {
    max-width: 80%;
    overflow: hidden;
    padding: 5px;
    text-align: left;
    float: left;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /*display: block;*/
    /*flex-wrap: wrap;*/
}

.toolContainer {
    margin-top: 5px;
    margin-bottom: 10px;

    display: flex;
}

.searchBar {
    margin-bottom: 10px;
    justify-content: space-between;
    text-align: right;
    display: none;
}

.postButtonHolder {
    display: flex;
    margin: auto;
    justify-content: space-between;
}


.enemyPostHolder {
    box-shadow: 10px 5px 5px darkslategrey;
    margin-top: 5px;
    margin-bottom: 5px;
    width: fit-content;
    min-width: 400px;
    max-width: 600px;
    min-height: 150px;
    /*width: fit-content;*/
    border-style: ridge;
    border-width: 2px;
    margin-left: 20px;
    padding: 10px;
    /*max-height: fit-content;*/
    background-color: lightblue;
}

.enemyPostBody {
    max-width: 80%;
    overflow: hidden;
    padding: 5px;
    text-align: left;
    float: left;
}

.enemyPostHeader {
    width: fit-content;
    flex-wrap: wrap;
    display: flex;
    text-align: left;
    font-size: 14px;
}

.enemyPostName {
    margin: auto
}

.enemyPostNumber {
    font-size: 16px;
}

.enemyPostText {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: left;
    font-size: 14px;
}

.originalPoster {
    padding-left: 10px;
    padding-top: 5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    box-shadow: 10px 5px 5px darkslategrey;
    border-style: solid;
    margin-left: 10px;
    margin-top: 20px;
    background-color: grey;
    min-height: 185px;
    min-width: 100px;
    white-space: -o-pre-wrap;
    max-width: 400px;
    max-height: 2000px;
}

.originalPosterTopic {
    color: lightgreen;
    background-color: #333;
    margin: auto;
}

.originalPosterBody {
    max-height: 2000px;
    max-width: inherit;
    width: inherit;
}

.originalPosterText {
    max-width: 80%;
    overflow: hidden;
    padding: 5px;
    text-align: left;
    float: left;
}

.originalPosterHeader {
    display: flex;
    font-size: 14px;
}

.originalPosterName {
    margin-left: 20px;
}

.originalPosterNumber {
    font-size: 20px;
}

.postText {
    white-space: pre-line;
}

.submissionFormReply {
    padding: 20px;
    float: left;
    display: flex;
    justify-content: left;
}

.replies {
    margin: auto;
    display: flex;
    font-size: 12px;
}


button {
    background-color: darkslategrey; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    width: fit-content;
    font-size: 16px;
}

button:hover {
    background-color: #3e8e41
}

button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);

}


.replyHeaderHolder {
text-align: left;
    min-width: 300px;
    float: left;
}

.plusGuy {

    display: flex;
    vertical-align: auto;
    flex-wrap: wrap;
    margin: auto;
    padding: 10px;
    font-size: 2rem;
}


.replyMinusSign {
    padding-right: 35px;
}

.replyTrashSign {
    margin-left: auto;

    float: right;
    width: fit-content;
}


.inlineReply {
    margin-left: 50px;
text-align: left;
    max-height: 18px;

    color: darkgreen;
}

.inlineReply:after {
    display: none;
    position: absolute;
    background-color: #eee;
    z-index: 10;
    content: attr(textFloat);

}

.inlineReply:hover:after {
    border-style: solid;
    border-color: black;

    display: inline-block;
}

.inlineReply2 {
    color: darkgreen;

}

.inlineReply2:after {
    display: none;
    position: absolute;
    background-color: #eee;
    z-index: 10;
    content: attr(textFloat);
}

.inlineReply2:hover:after {
    border-style: solid;
    border-color: black;
    display: contents;
}

.inlineReply3 {
    font-size: 20px;
    color: darkgreen;
}

.inlineReply3:after {
    display: none;
    position: absolute;
    background-color: #eee;
    z-index: 10;
    content: attr(textFloat);
}


.inlineReply3:hover:after {
    border-style: solid;
    border-color: black;

    display: contents;
}

.timeStampOP {
    margin-left: 30px;
}

.enemyTimeStamp {
    margin-left: 30px;
}

.backwardButton {
    width: 10%;
}

.backwardButton {
    color: darkslategrey;
}

.backwardButton:hover {
    color: lightgreen;
}

.forwardButton {
    width: 10%;
}

pre {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.greenText {
    color: green;
}

#reply0 {
    color: lightblue;
    text-decoration: white;
    background-color: lightgreen;
}

#reply0.postText {
    color: white;
}

.hideSearch {
    float: left;
    width: 30%;
}

.leaderboard {
    margin-bottom: 90px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 10px;
    height: 30px;
    width: 100%;

}

.postPage {
    height: 100vh;
    width: 100vw;
    background-color: lightgray;
    text-align: center;
    margin: 0;
}

.footerPostPage {
    position: fixed;
    bottom: 0;
    height: 30px;
    width: 3%;

}

.searchIcon {
    margin: 20px
}

.stackIcon {
    margin: 20px
}
.paragraphRight {
    display: none;
}



.floatingReplies {
    margin-top: -10px;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-overflow: ellipsis;
    text-align: left;
    max-width: 400px;
}

.floatingReply {
    border-width: 1px;
    border-style: solid;
    float: left;
    padding: 5px;
    max-width: 80%;
    margin: 2px;
    margin-left: 25px;
    background-color: lightgreen;
    max-height: 110px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

}

pre {
    white-space: normal;
    margin: auto;
}

.postButton {
    background-color: green;
}

.postImage {
    max-height: 100px;
    max-width: 100px;
}

.originalPostImage {
    float: left;
    max-height: 100px;
    max-width: 100px;


}

.enemyPostImage {
    padding: 5px;
    float: left;
    position: relative;
    overflow: auto;
    max-height: 100px;
    max-width: 100px;


}

.xIconHolder:hover {

    color: red;
    transform: scale(1.4);
}

.plusIconHolder:hover {
    color: green;
    /*size: 30px;*/
    transform: scale(1.4);
}

.minusIconHolder:hover {
    color: cornflowerblue;
    transform: scale(1.4);
    animation: bounce 2.5s infinite;
    -webkit-animation: bounce 2.5s infinite;
    -moz-animation: bounce 2.5s infinite;
    -o-animation: bounce 2.5s infinite;
}

@keyframes slide-right-left {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes slide-down-up {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes minimize {
    from {
        transform: scale(1);
        opacity: 0;
    }
    to {
        transform: scale(0);
        opacity: 1;
    }
}

.minimizeElement {
    animation: minimize .3s linear;
}

.slideUp {
    animation: slide-down-up .4s linear;
}

.slideLeft {
    animation: slide-right-left .4s linear;
}

.posts {
    animation: slide-right-left .4s linear;
}

.enemyPosters {
    animation: slide-right-left .6s linear;
}
.originalPoster {
    animation: slide-right-left .3s linear;
}

.nameTextSubmit {
    animation: slide-right-left .3s linear;

}

.mainTextSubmit {
    animation: slide-right-left .6s linear;
}

.topicTextSubmit {
    animation: slide-right-left .3s linear;
}

.logoBen {
    height: 100px;
    margin: 5px;
}

@media only screen and (min-width: 768px) {
    .cards {
        max-width: 100%;
    }

    .theEntirePost {
        margin-bottom: 10px;
        max-width: 80%;

    }

    .postHolder {
        margin-left: 20px;
        max-width: 80%;
    }

    .enemyPostHolder {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        max-width: 80%;
    }

    .enemyPostBody {
        max-width: 80%;
    }

    .enemyPostText {
        max-width: 80%;
    }

    .originalPoster {
        max-width: 85%;
    }

    .originalPosterText {
        max-width: 85%;
    }

    .enemyPostText {
        max-width: 80%;
    }

    .floatingReplies {
        max-width: 70%;
    }

    .postContent {
        max-width: 100%;
    }


    /* This begins the part of POKEMONS. NO IMAGEBOARD OR PLANNER OR ANYTHING GOES HERE JUST MONS. POKEMON START OF CSS*/
    .coachHolder {
        padding: 10px;
        float: left;
        height: 100%;
        width: 100%;
        margin: 0;

        background: url("../public/pokebal.png");
        background-repeat: repeat;
        background-color: #999999;
    }

    .coachLabel {
        color: white;
    }

    .seeMoreMons {
        background-color: #333;
        border: none;
        color: blue;
        padding: 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        border-radius: 50%;
    }

    .coachCard {
        width: fit-content;
        /*color: #ffde00;*/
        color: #333;
        background-color: #3B4CCA;
        border-style: solid;
    }

    .coachCardMonList {
        display: flex;
        flex-direction: row;
        float: left;
        text-align: left;
        color: black;
    }

    .coachCardHeader {
        color: white;
    }

    .pokemon {
        color: black;
        margin: 1px;
        /*background-color: #ffde00;*/
        background-color: white;
        width: 180px;
        height: fit-content;
        padding: 15px;
        float: left;
        border-style: solid;
    }




    .poketable {
        text-align: left;
    }
    .pokeTypeHeader {
        display: flex;    }

    .pageMatchupHolder {
        float: right;
        border-style: groove;
        padding: 20px;
        display: flex;
        flex-direction: column;
    }

    .matchupText {
        cursor: pointer;
    }

    .coachPageHeroHeader {

        margin: 0;
        text-align: center;
        display: flex;
        justify-content: space-between;
        padding-left: 10px;
        background-color: lightblue;
        color: #333333;
    }

    .coachPageVillainHeader {
        margin: 0;
        text-align: center;
        display: block;
        justify-content: space-between;
        padding-left: 10px;
        background-color: lightblue;
        color: #333333;
        display: none;
    }

    .coachPageHeroName {
        padding-left: 50px;
    }

    .matchupTextHolder {
        color: blue;
    }
    .monIconHolders {
        float: left;
    }

    .monColumnHolder {
        display: flex;
        flex-direction: column;
    }

    .monColumnHolderGlowing {
        width: fit-content;
        max-height: fit-content;
        box-shadow: 10px 0px 40px 20px blue;
        display: flex;
        flex-direction: column;
    }
    .monColumnHolderGlowingV {
        width: fit-content;
        max-height: fit-content;

        box-shadow: 10px 0px 40px 20px red;
        display: flex;
        flex-direction: column;
    }

    .villainMonHolder {
        display: flex;
        flex-direction: column;
    }

    .monButtonHolder {
        display: flex;
    }

    .oppMoves {
        border-style: solid;
        justify-content: space-between;
        align-content: space-between;
        min-width: 800px;
    }

    .typeCol{
        padding-left: 30px;
        float: left;

        min-width: 70px;
    }

    .nameCol {
        float: left;
        border-style: groove;

        min-width: 150px;

    }

    .accCol {
        float: left;
        min-width: 100px;

    }

    .bpCol {
        float: left;
        min-width: 160px;
    }

    .moveList {

        text-align: center;
        height: 35px;
        max-height: fit-content;
        width: fit-content;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
        align-content: flex-start;
    }



    .monButton {
        padding: 0px;
        margin: 2px;
        height: 60px;
        width: 100px;
        font-size: var(--_size);
        align-items: center;
        justify-content: center;
        gap: .5em;
        box-shadow: 0.5em .1em .9em hsl(var(--accent) / .3), 0 0 0 -.1em hsl(var(--bg)),
        0 0 0 -.2em hsl(var(--accent));
    }

    .copyright {
        float: right;
        width: 200px;
        position: absolute;
        bottom: 0px; /* set the bottom to 0*/    }

    /* Dropdown Button */
    .dropbtn {
        background-color: #333333;
        color: white;
        border-style: solid;
    }

    /* The container <div> - needed to position the dropdown content */
    .dropdown {
        position: relative;
        display: inline-block;
    }

    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: darkslategrey; /* Green */
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

    /* Links inside the dropdown */
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    /* Change color of dropdown links on hover */
    .dropdown-content a:hover {background-color: #ddd;}

    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {display: block;}

    /* Change the background color of the dropdown button when the dropdown content is shown */
    .dropdown:hover .dropbtn {background-color: #3e8e41;}

    .buttonHolder100 {
        float: left;
        display: flex;

    }

    .smallColours {
        padding-left: 10px;
        padding-right: 5px;
        float: left;
        width: 36px;
        -moz-border-radius: 20px;
        -webkit-border-radius: 20px;
        -khtml-border-radius: 20px;
        -icab-border-radius: 20px;
        -o-border-radius: 20px;
        border-style: solid;
    }
    .typeColours {
padding: 2px;
        float: left;
        min-width: 65px;
        border-radius: 20px;
        -moz-border-radius: 20px;
        -webkit-border-radius: 20px;
        -khtml-border-radius: 20px;
        -icab-border-radius: 20px;
        -o-border-radius: 20px;
        border-style: solid;

    }

    .typeColours2 {
        border-style: solid;
    }

    .heroMonHolder {
        display: flex;
    }
    .heroMonHolder {
        display: flex;
flex-wrap: wrap;
    }

    .monAbility {
        display: flex;
        flex-direction: column;
        font-weight: bold;
        white-space: nowrap;
        text-align: center;

    }
    .actives {
        align-content: flex-start;
        float: left;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .heroActiveZone {
        padding: 20px;
        float: left;
        display: flex;
        flex-direction: column;
        width: fit-content;
    }
    .villainActiveZone {
        padding: 20px;
        float: left;
        display: flex;
        flex-direction: column;

        width: fit-content;
    }
    .vsTextHero {
        position: relative;
        top: 150px;
        float: left;
    }
    .vsTextVillain {
        position: relative;
        top: 150px;
        float: left;
    }

    columnNormal {
        padding-left: 10px;
        padding-right: 10px;

        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
    }
    .typeChartName {
        font-weight: bold;
        float: left;
        width: 175px;
    }

    .typeChartCell {
        width: 50px;
    }

    .bigGuy {
        width: 500px;
        font-size: 500rem;
    }

    .typeChartMonHolder {
        display: flex;

        }

    .typeChart {
        padding-top: 50px;
        display: flex;
        flex-direction: column;

    }

    .decorationHolders {
        padding-left: 160px;
        display: flex;
        width: 20px;

    }
    .typeChartHeaderOpp {
        border-color: #333333;
        border-style: solid;
        color: #333333;
        background-color: lightblue;
    }
    .typeChartHeader {
        border-color: #333333;
        border-style: solid;

        text-align: left;
        color: #333333;
        background-color: lightblue;
    }
    .divider {
        display: flex;
        flex-direction: column;
        padding: 10px;
    }
    .typeChartOpp {
        display: none;
    }
    .typeChartHolder {
        display: flex;
        flex-direction: column;
    }

    .stat {
        display: flex;
    }



}

.projectHolder {
    display: flex;
    padding: 15px;
}

.project {
    margin: 1%;
    height: 250px;
    background-image: linear-gradient(white, lightblue);    width: 350px;
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.project:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.projectHolder {
    width: 80%;
    float:left;
    justify-content: space-between;
    box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
}

.projectImg {
    width: 120px;
}

.homePageProjects {
    text-align: center;
    font-size: 70px;
    font-weight: 600;
    background-image: linear-gradient(to left, #553c9a, #b393d3);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}
