* {

    box-sizing: border-box;
}

body {
    background-color: lightgray;
    text-align: center;
    margin: 0;
}

.nav {
    height: 70px;
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    padding: 1rem;
}

.site-title {
    font-size: 2rem;
}

.nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .35rem;
}

.goButton {

}

.loginButton {
    float: top;
    padding: 5px;
    align-items: flex-end;
    display: flex;
    flex-wrap: wrap;
    width: 35%;
}

nav li.active {
    background-color: #555;
}

.nav li:hover {
    color: gray;
    background-color: black;
}

.submissionForm {
    margin: auto;
    display: none;
}

textarea {
    border-color: black;
    border-width: 5px;
    background-color: lightgrey;
}

input[type=text] {
    border-color: black;
    border-width: 5px;
    background-color: lightgrey;
}

input[type=text]:focus {
    border-color: lightblue;
    outline: 2px solid lightskyblue; /* oranges! yey */
}

.mainTextSubmit {
    width: 300px;
    height: 200px;

}

a {
    color: black
}

a:link {
    text-decoration: none
}

.postHolder {
    border-style: groove;
    background-color: lightblue;
    margin-left: 20px;
    margin-bottom: 10px;
    width: fit-content;
    max-width: 80%;
    min-width: 30%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.2s;
    height: fit-content;
    max-height: 500px;
    overflow: auto;

    /*overflow-x: auto;*/

}

.postHeader {
    display: flex;
    background-color: darkgrey;
    margin: auto;
}

.postFooter {
    width: 100%;
    display: flex;
    margin: auto;
}

.replies {
    margin-left: auto;
}

.replyNow {
    margin-left: 50px;
}

.trashHolder {

    margin-left: auto;

}

.postHolder:hover {
    background-color: darkslategray;
    color: white;
    /*box-shadow: 0 10px 20px 0 rgba(0,0,0,0.2);*/
    box-shadow: 10px 5px 5px darkslategrey;

}

/* Add some padding inside the card container */
.postTopic {
    display: flex;
    flex-direction: column;
    float: left;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 16px;
}

.postText {
    padding: 5px;
    text-align: left;
}

.cards {
    display: block;
    /*flex-wrap: wrap;*/
}

.toolContainer {
    margin-top: 5px;
    margin-bottom: 10px;

    display: flex;
}

.searchBar {
    margin-bottom: 10px;
    justify-content: space-between;
    text-align: right;
    display: none;
}

.postButtonHolder {
    display: flex;
    margin: auto;
    justify-content: space-between;
}


.enemyPostHolder {
    box-shadow: 10px 5px 5px darkslategrey;
    margin-top: 5px;
    margin-bottom: 5px;
    max-width: 95%;
    min-height: 150px;

    width: fit-content;
    border-style: ridge;
    border-width: 2px;
    margin-left: 20px;
    padding: 10px;
    /*max-height: fit-content;*/
    background-color: lightblue;
}

.enemyPostHeader {
    width: fit-content;
    flex-wrap: wrap;
    display: flex;
    text-align: left;
    font-size: 14px;
}

.enemyPostName {
    margin: auto
}

.enemyPostNumber {
    height: fit-content;
    font-size: 16px;
}

.enemyPostText {
    text-align: left;
    font-size: 14px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: inherit;
}

.originalPoster {
    box-shadow: 10px 5px 5px darkslategrey;

    border-style: solid;
    margin-left: 10px;
    text-align: left;
    margin-top: 20px;
    width: fit-content;
    background-color: grey;
    min-height: 185px;
    height: fit-content;
}

.originalPosterHeader {
    display: flex;
    font-size: 14px;
}

.originalPosterName {
    margin-left: 20px;
}

.originalPosterNumber {
    font-size: 20px;

}

.submissionFormReply {

    padding: 20px;
    float: left;
    display: flex;
    justify-content: left;
}

.replies {
    margin: auto;
    display: flex;
    font-size: 12px;
}


button {
    background-color: darkslategrey; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    width: fit-content;
    font-size: 16px;
}

button:hover {
    background-color: #3e8e41
}

button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);

}


.replyHeaderHolder {
    display: flex;
    flex-wrap: wrap;
    padding-right: 50px;
}

.plusGuy {

    display: flex;
    vertical-align: auto;
    flex-wrap: wrap;
    margin: auto;
    padding: 10px;
    font-size: 2rem;
}


.replyMinusSign {
    padding-right: 35px;
}

.replyTrashSign {
    margin-left: auto;

    float: right;
    width: fit-content;
}


.inlineReply {

    margin: auto;
    height: fit-content;
    color: darkgreen;


}

.inlineReply:after {
    display: none;
    position: absolute;
    background-color: #eee;
    z-index: 10;
    content: attr(textFloat);

}

.inlineReply:hover:after {
    border-style: solid;
    border-color: black;

    display: inline-block;
}

.inlineReply2 {
    color: darkgreen;

}

.inlineReply2:after {
    display: none;
    position: absolute;
    background-color: #eee;
    z-index: 10;
    content: attr(textFloat);
}

.inlineReply2:hover:after {
    border-style: solid;
    border-color: black;
    display: contents;
}

.inlineReply3 {
    font-size: 20px;
    color: darkgreen;
}

.inlineReply3:after {
    display: none;
    position: absolute;
    background-color: #eee;
    z-index: 10;
    content: attr(textFloat);
}


.inlineReply3:hover:after {
    border-style: solid;
    border-color: black;

    display: contents;
}

.timeStampOP {
    margin-left: 200px;
}

.enemyTimeStamp {
    margin-left: 30px;
}

.backwardButton {
    width: 10%;
}

.backwardButton {
    color: darkslategrey;
}

.backwardButton:hover {
    size: 50px;
    color: lightgreen;
}

.forwardButton {
    width: 10%;
}

pre {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.greenText {
    color: green;
}

#reply0 {
    color: lightblue;
    background-color: black;
}

.hideSearch {
    float: left;
    width: 30%;
}

.leaderboard {
    margin-bottom: 90px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 10px;
    height: 30px;
    width: 100%;

}

.footerPostPage {
    position: fixed;
    bottom: 0;
    height: 30px;
    width: 3%;

}

.searchIcon {
    margin: 20px
}

.floatingReplies {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.floatingReply {
    padding: 5px;
    margin: 5px;
    width: fit-content;
    background-color: lightgreen;
    max-height: 65px;
    overflow: hidden;

    float: left;
}

pre {
    white-space: normal;
    margin: auto;
}

.postButton {
    background-color: green;
}

.postImage {
    max-height: 100px;
    max-width: 100px;
}

.originalPostImage {
    max-height: 100px;
    max-width: 100px;


}

.enemyPostImage {
    padding: 5px;
    float: left;
    position: relative;
    overflow: auto;
    max-height: 100px;
    max-width: 100px;

}

.xIconHolder:hover {

    color: red;
    size: 30px;
    transform: scale(1.4);
}

.plusIconHolder:hover {
    color: green;
    /*size: 30px;*/
    transform: scale(1.4);
}

.minusIconHolder:hover {
    color: cornflowerblue;
    size: 30px;
    transform: scale(1.4);
    animation: bounce 2.5s infinite;
    -webkit-animation: bounce 2.5s infinite;
    -moz-animation: bounce 2.5s infinite;
    -o-animation: bounce 2.5s infinite;
}